<launch>
	<!-- BEGIN ROBOT1-->
	<group ns="robot1">
		<include file="$(find GITagent)/Launch/agent.launch"> <arg name="id" value="1"/> </include>
	</group>
	<!-- BEGIN ROBOT2-->
	<group ns="robot2">
		<include file="$(find GITagent)/Launch/agent.launch"> <arg name="id" value="2"/> </include>
	</group>
	<!-- BEGIN ENV3-->
	<group ns="environment">
	</group>
</launch>
